{% extends 'base.html.twig' %}

{% block title %}Charlotte Tardiveau - Détails de l'avis{% endblock %}

{% block stylesheets %}
<head>
    <link rel="stylesheet" href="{{ asset('stylecss/styleShow.css')}}">
</head>
{% endblock %}

{% block body %}
<div class="container">
    <h2>Détails de l'avis</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ avi.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ avi.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('home.index') }}" class="btn btn-secondary">Retour à la page d'accueil</a>
</div>
{% endblock %}
