{% extends 'base.html.twig' %}

{% block title %}New Contact{% endblock %}

{% block body %}
<head>
    <link rel="stylesheet" href="{{ asset('stylecss/styleNew.css')}}">
</head>
<div class="container">
    <h1>Envoyer un mail</h1>

    {{ include('contact/_form.html.twig') }}
</div>
{% endblock %}
