<VirtualHost *:80>
    ServerName example.com
    ServerAlias www.example.com

    DocumentRoot /var/www/projet_site2/public
    <Directory /var/www/projet_site2/public>
        AllowOverride All
        Require all granted
        FallbackResource /index.php

        # Ajout des directives pour PHP-FPM
        <FilesMatch \.php$>
            SetHandler "proxy:unix:/var/run/php/php8.3-fpm.sock|fcgi://localhost/"
        </FilesMatch>
    </Directory>

    # Logs
    ErrorLog /var/log/apache2/project_error.log
    CustomLog /var/log/apache2/project_access.log combined
</VirtualHost>
