<footer>
    <div id="condition">
        <a href="{{ path('cgu') }}">- Conditions générales d'utilisation</a>
        <a href="{{ path('legal_mentions') }}">- mentions-legales</a>
    </div>
    <div id="reseaux">
        <p>Retrouvez-moi également sur:</p>
        <a href="https://www.facebook.com/profile.php?id=61555177871326" class="lienReseau">- <img src="images/logoFacebook.png" class="logoReseaux" alt="logo facebook">facebook</a>
        <a href="https://www.instagram.com/coachingcharlotte/" class="lienReseau">- <img src="images/logoInstagram.png" alt="logo instagram" class="logoReseaux">Instagram</a>
    </div>
</footer>